.config-table {
  padding-bottom: 3em;
}

.modal-notification {
  margin-bottom: 1px;
}

.application-incomplete {
  color: #da1e28 !important;
}

.application-complete {
  color: #0f62fe !important;
}