.parameter-required {
  color: #da1e28 !important;
}

.parameter-optional {
  color: #0f62fe !important;
}

.node-get {
  background-color: #4589ff !important;
  color: #ffffff !important;
  border-color: #4589ff !important;
}

.node-post {
  background-color: #42be65 !important;
  color: #ffffff !important;
  border-color: #42be65 !important;
}

.node-delete {
  background-color: #fa4d56 !important;
  color: #ffffff !important;
  border-color: #fa4d56 !important;
}

.node-put {
  background-color: #f1c21b !important;
  color: #ffffff !important;
  border-color: #f1c21b !important;
}